<footer>

    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/shivam_batar_0/?hl=en"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sarvpriyabatar"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>

    <div class="f-info-copyright">&copy; Wanderlust Private Limited</div>

    <div class="f-info-links">
        <a href="/">Home</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Service</a>
    </div>

   </div>
</footer>