<% layout("Layout/boilerplate") %>
<body>
  <style>
  .filters {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: 2rem;
    scrollbar-width: none;
}

.filters::-webkit-scrollbar {
    display: none;
}

#filter {
    flex: 0 0 auto;
    text-align: center;
    opacity: 0.6;
}

#filter:hover {
    opacity: 1;
    cursor: pointer;
}

</style>
<div class="filters mt-3 mb-3 offset-2">
    <div id="filter"><i class="fa-solid fa-fire"></i>
    <p>trending</p>
    </div>

    <div id="filter">
        <i class="fa-solid fa-bed"></i>
        <p>beds</p>
    </div>

    <div id="filter">
        <i class="fa-solid fa-mountain-city"></i>
        <p>Iconic cities</p>
    </div>
    <div id="filter">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
    </div>
    <div id="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Beachfront</p>
    </div>

    <div id="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Campgrounds</p>
    </div>

    <div id="filter">
        <i class="fa-solid fa-building-wheat"></i>
        <p>Treehouses</p>
    </div>
    <div id="filter">
        <i class="fa-regular fa-snowflake"></i>
        <p>Winter getaways</p>
    </div>
    <div id="filter">
        <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>
    </div>

    
</div>

    <div class="row g-4" >
          
    <div class="row g-4">

  <% for(let listing of allListings) { %>

  <div class="col-md-4 col-sm-6">
    <div class="card listing-card">

      <a href="/listings/<%= listing._id %>" class="link">

        <img src="<%= listing.image.url %>" class="card-img-top">

        <div class="card-body">
          <b>
            <p class="card-text">
              <%= listing.title %><br>
              &#8377;  <%= listing.price.toLocaleString("en-IN") %>/night
            </p>
          </b>
        </div>

      </a>

    </div>
  </div>

  <% } %>

</div>
</div>    
</body>
